<div>
    <app-search (searchEvent)=search($event)></app-search>
</div>
<div class="phone-book-container"  *ngIf="(phonebooks$ | async) as books">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let book of books">

            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ book.name }}
                </mat-panel-title>
                <mat-panel-description>
                    {{ book.entries.length }} contact(s)
                </mat-panel-description>
            </mat-expansion-panel-header>
            <button mat-flat-button color="primary" (click)="createEntry(book.id)">Add entry</button>
            <app-phonebook *ngFor="let entry of book.entries" [name]="entry.name" [contactnumber]="entry.contactNumber">
            </app-phonebook>

        </mat-expansion-panel>
    </mat-accordion>
</div>